  .login-state {
    text-align: right;
    padding-top: 5px;
    padding-right: 9px;
    color: gray; 
    font-size: 1em;
  }
  .deletepage-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 1.2em;
  }
  .acc-menu {
    width: 120px;
    position: absolute;
    right: 0px;
  }
  .dele-btn {
    display: relative;
    top: -20px;
    margin-left: 70px;
    padding: 3px 7px;
    border-radius: 4%;  
    font-size: 1em;
    cursor: pointer;
  }
  .dele-clear-btn {
    display: relative;
    top: -20px;
    margin-left: 40px;
    padding: 3px 7px;
    border-radius: 4%;  
    font-size: 1em;
    cursor: pointer;
  }
  .top-pagi {
    text-align: center;
    margin: 0 600px;   
  }
  .bottom-pagi {
    text-align: center;
    float: left;
    margin: 0 600px;
  }
  .sepa-border {
    display: block;
    margin-top: 41px;  
  }
  .image-list {
    text-align: center;
  }
  .delete-confirm {
    width: 18rem;
    margin: 16px;
    height: 290px;
    cursor: default;  
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .delete-confirm img {
    width: 100%;
    height: 246px;
  }
  input[type=checkbox] {
    transform: scale(1.5);
  }
  .delepage-img {
    width: 92%;
    display: inline-block;
    padding: 0px;
    border: 0px;
  }
  .goods_name {
    display: block;
    margin: auto;
    text-align: center;
    border: #28a745;
    background-color: #28a745;
    font-weight: bold;
    font-size: 1em;
  }
  .goods_name span {
    color: black;
  }