.mypage-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 1.2em;
}
.login-state {
  text-align: right;
  padding-top: 5px;
  padding-right: 9px;
  color: gray; 
  font-size: 1em;
}
.acc-menu {
  width: 120px;
  position: absolute;
  right: 0px;
}
.top-pagi {
  margin: 0 600px;   
}
.bottom-pagi {
  float: left;
  margin: 0 600px;
}
.sepa-border {
  display: block;
  margin-top: 41px;  
}
.image-list {
  text-align: center;
}
.image-btn {
  width: 100%;
  display: inline-block;
  padding: 0px;
  border: 0px;
}
.image-btn img {
  width: 100%;
  height: 246px;
  cursor: pointer;
}
.goods_name{
  display: block;
  margin: auto;
  text-align: center;
  border: #28a745;
  background-color: #28a745;
  font-weight: bold;
  font-size: 1em;
}
.delete-confirm {
  width: 18rem;
  margin: 16px;
  height: 290px;
}